
body {
	margin: 0;
	background: #eaedf1;
	font-family: 'Lato', sans-serif;
}
 .btn-gradient.red {
    background: rgba(250,90,90,1);
    background: linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}
.btn-gradient.cyan {
    background: rgba(27,188,194,1);
    background: linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbcc2', endColorstr='#18a3a8', GradientType=0);
}
.btn.mini, .btn-two.mini, .btn-gradient.mini, .btn-effect.mini {
    padding: 4px 12px;
    font-size: 12px;
}
a[class*="btn"] {
    text-decoration: none;
}
.btn-gradient {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 15%);
}
.btn-gradient {
    margin: 5px;
}