.main {
	width: 75%;
    margin: 55px auto;
}
.tbl-style {
    border-collapse: collapse;
	margin: 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tbl-style thead tr {
    background-color: #3f51b5;
    color: #ffffff;
    text-align: left;
}
.tbl-style tbody tr {
    border-bottom: 1px solid #808dd5;
}

.tbl-style tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tbl-style tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.tbl-style tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.tbl-style th,.tbl-style td {
    padding: 12px 15px;
}

.container input[type=text] {
    width: 92%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#modal-footer{
	margin-top:20px;
}
#myFile{
	margin-top: 12px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
